[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RNewsflow"]
	path = RNewsflow
	url = https://github.com/kasperwelbers/rnewsflow
[submodule "corpustools"]
	path = corpustools
	url = https://github.com/kasperwelbers/corpustools
[submodule "rsyntax"]
	path = rsyntax
	url = https://github.com/cran/rsyntax
[submodule "tokenbrowser"]
	path = tokenbrowser
	url = https://github.com/kasperwelbers/tokenbrowser
